<div class="panel-group panel-default  panel">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
                <span uib-accordion-header ng-class="{'text-muted': isDisabled}">
            {{heading}}
          </span>
          
            </a>
            <span class="btn btn-link pull-right btn-xs" style="top: -6px; position: relative; margin: 0px; padding: 4px 10px; opacity: .8;" ng-click="$parent.$parent.$parent.productEdit.editProductGroup($parent.group)" >Edit Group</span>
        </h4>
    </div>
    <div class="panel-collapse collapse " uib-collapse="!isOpen">
        <div class="panel-body" ng-transclude></div>
    </div>
</div>



           
           