<h3 class="page-header">
    <b>Assign Product to {{'Channel' | i18next}}</b>
</h3>
<div class="row">
    <div class="form-group edit-button-group">
        <button type="button" class="btn btn-default" ui-sref="^"><i class="fa fa-arrow-left"></i> Back</button>
        <button type="button" class="btn btn-primary" ng-click="productAssignments.submit()" user-permissions pbit="4" pobj="products">Update Product Assignments</button>
    </div>
</div>
<div class="well well-lg text-center" ng-if="!productAssignments.list.Items.length">
    <b>None found.</b>
</div>
<section class="table-fixed-header" ng-if="productAssignments.list.Items.length">
    <div class="table-header-bg"></div>
    <div class="table-container" ordercloud-infinite-scroll servicename="Products" controlleras="productAssignments" idname="ProductID" disable-dynamic-validation>
        <table class="table table-hover">
            <colgroup>
                <col class="action-column" />
            </colgroup>
            <thead>
                <tr>
                    <th>
                        <div class="input-group">
                            <label class="text-center" ng-click="productAssignments.sortBy('selected')">
                                <span class="sortorder" ng-show="productAssignments.propertyName === 'selected'" ng-class="{reverse: productAssignments.reverse}"></span></label>
                        </div>
                    </th>
                    <th>
                        <div ng-click="productAssignments.sortBy('Name')">{{'Channel' | i18next}} <span class="sortorder" ng-show="productAssignments.propertyName === 'Name'" ng-class="{reverse: productAssignments.reverse}"></span></div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="buyer in productAssignments.list.Items | orderBy:'Name' track by $index" ng-if="buyer.ID !== 'orderagent'">
                    <td style="width: 80px; text-align:center;">
                        <input name="{{'product_assign_' + $index}}" type="checkbox" ng-model="buyer.selected">
                    </td>
                    <td>{{buyer.Name}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>