<div class="modal-body">
    <form name="SelectForm" ng-submit="select.submit()">
        <div class="form-group">
            <H4 style="width: 100%; text-align:center;">{{'Unassign All Products?' | i18next}}</H4>
            <br/>
             <button class="btn btn-default btn-primary" style="width: 100%" type="button" ng-click="select.all(select)">{{'Unassign All Products' | i18next}}</button><br><br>
              <button class="btn btn-default" style="width: 100%" type="button" ng-click="select.cancel()">{{'Cancel' | i18next}}</button>
        </div>
       
       
    </form>
</div>


