<h3 class="page-header">
    <b>Assign Products to Product Group:</b> {{productgroupsAssignProd.Category.Name}}
</h3>
<div class="row">
    <div class="form-group edit-button-group">
        <button type="button" class="btn btn-default" ui-sref="^"><i class="fa fa-arrow-left"></i> Back</button>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <label>Filter by Search:</label><em ng-if="productgroupsAssignProd.searchby == 'xp.Master-Product-Group-XP'" style="opacity:.75; font-size: 11px;  float: right;"> *Use AND, OR and NOT to combine search terms</em>
        <div class="form-group">
            <input type="search" class="form-control" placeholder="Search Products..." ng-model="productgroupsAssignProd.searchFilter" ng-change="productgroupsAssignProd.research()" parse-slash />
        </div>
    </div>
    <div class="col-md-2 form-group">

        <div class="col-md-1" style="padding: 0px; margin-top:25px;">
            <div style="position: relative; left: -13px; top: 6px;"><strong>by</strong></div>
        </div>
        <div class="col-md-11" style="padding: 0px; margin-top:25px;">
            <select id="statusFilter" class="form-control" ng-model="productgroupsAssignProd.searchby" ng-change="productgroupsAssignProd.research()">
                    <option ng-repeat="opt in productgroupsAssignProd.options.search_by" value="{{opt[0]}}">{{opt[1] | i18next}}</option>
                </select>
        </div>
    </div>
    <div class="col-md-6 form-group">
        <label for="statusFilter">{{'Filter by Status' | i18next}}:</label>
        <select id="statusFilter" class="form-control" ng-model="productgroupsAssignProd.statusFilter" ng-change="productgroupsAssignProd.research()">
             <option value="">{{'Show All' | i18next}}</option>
           <option ng-repeat="opt in productgroupsAssignProd.options.product_status" value="{{opt[0]}}">{{opt[1] | i18next}}</option>
        </select>
    </div>
</div>

<div class="row">
    <div class="col-md-6 form-group">
        <label>Filter by Brand:</label>
        <select id="brandFilter" class="form-control" ng-model="productgroupsAssignProd.brandFilter" ng-change="productgroupsAssignProd.research()">
             <option value="">{{'Show All' | i18next}}</option>
           <option ng-repeat="opt in productgroupsAssignProd.options.brands" value="{{opt[0]}}">{{opt[1] | i18next}}</option>
        </select>
    </div>
</div>
<div class="row">
    <div class="col-xs-6" ng-click="productgroupsAssignProd.toggleListFilter()" ng-init="productgroupsAssignProd.listFilter = true">
        <div class="btn full-width" ng-class="productgroupsAssignProd.listFilter ? 'btn-primary' : 'btn-default'">Apply filter to Product list <i class="fa" ng-class="productgroupsAssignProd.listFilter ? 'fa-check-square-o' : 'fa-square-o'" /></div>
    </div>
    <div class="col-xs-6" ng-click="productgroupsAssignProd.toggleAssignFilter()" ng-init="productgroupsAssignProd.assignedFilter = true">
        <div class="btn full-width" ng-class="productgroupsAssignProd.assignedFilter ? 'btn-primary' : 'btn-default'">Apply filter to assigned Product list <i class="fa" ng-class="productgroupsAssignProd.assignedFilter ? 'fa-check-square-o' : 'fa-square-o'" /></div>
    </div>
    <br /> <br />
</div>
<div class="row">
    <div class="col-xs-6">
        <div class='scroll-count'>Showing <strong>{{productgroupsAssignProd.list.Items.length}}</strong> of <strong>{{productgroupsAssignProd.list.Meta.TotalCount - productgroupsAssignProd.prodAssignments.Items.length}}</strong></div>
        <section class="table-fixed-header no-margin">

            <div class="table-header-bg"></div>
            <div class="table-container" ordercloud-infinite-scroll servicename="Products" controlleras="productgroupsAssignProd" idname="ID" disable-dynamic-validation ng-style="productgroupsAssignProd.leftDragColMaxheight">
                <table class="table table-hover">
                    <colgroup>
                        <col class="action-column" />
                    </colgroup>
                    <thead ng-if="productgroupsAssignProd.list.Items.length">
                        <tr>
                            <th class="tool-th">
                                <div class="tool-div">
                                    <span class="select-all" style="display: none;" ng-click="productgroupsAssignProd.selectAll()">Assign All <i class="fa fa-caret-right"></i></span>
                                </div>
                            </th>
                            <th>
                                <div ng-click="productgroupsAssignProd.sortBy('ID')">Part Number<span class="sortorder" ng-show="productgroupsAssignProd.propertyName === 'ID'" ng-class="{reverse: productgroupsAssignProd.reverse}"></span></div>
                            </th>
                            <th>
                                <div ng-click="productgroupsAssignProd.sortBy('Name')">Name <span class="sortorder" ng-show="productgroupsAssignProd.propertyName === 'Name'" ng-class="{reverse: productgroupsAssignProd.reverse}"></span></div>
                            </th>


                        </tr>
                    </thead>
                    <tbody dragula="'drag-bag'" dragula-model="productgroupsAssignProd.list.Items" class="oc-table-responsive">
                        <tr ng-repeat="spec in  productgroupsAssignProd.list.Items">
                            <td class="text-center tool-td"><i id="handle" class="fa fa-arrows"></i> <i class="fa fa-caret-right" ng-click="productgroupsAssignProd.pushOver(spec)"></i></td>
                            <td data-title="Id" class="part-number-td">{{spec.ID}}</td>
                            <td data-title="Name">{{spec.Name | slashify}}</td>
                        </tr>
                        <tr ng-if="!productgroupsAssignProd.list.Items.length">
                            <td class="alert alert-info" colspan="3">No matches found.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
    <div class="col-xs-6">
        <div class='scroll-count'>Showing <strong>{{productgroupsAssignProd.prodAssignments.Items.length}}</strong> of <strong>{{productgroupsAssignProd.prodAssignments.Items.length}}</strong></div>
        <section class="table-fixed-header no-margin">
            <div class="table-header-bg"></div>
            <div class="table-container" servicename="Specs" controlleras="productgroupsAssignProd" idname="SpecID" disable-dynamic-validation ng-style="productgroupsAssignProd.leftDragColMaxheight">
                <table class="table table-hover">
                    <colgroup>
                        <col class="action-column" />
                    </colgroup>
                    <thead ng-if="productgroupsAssignProd.prodAssignments.Items.length">
                        <tr>
                            <th class="tool-th">
                                <div class="tool-div" style="left: 5px; display:none;">
                                    <span class="select-all" ng-click="productgroupsAssignProd.deselectAll()">Unassign All <i class="fa fa-caret-left"></i></span>
                                </div>
                            </th>
                            <th>
                                <div ng-click="productgroupsAssignProd.sortBy('ID')">Part Number<span class="sortorder" ng-show="productgroupsAssignProd.propertyName === 'ID'" ng-class="{reverse: productgroupsAssignProd.reverse}"></span></div>
                            </th>
                            <th>
                                <div ng-click="productgroupsAssignProd.sortBy('Name')">Name <span class="sortorder" ng-show="productgroupsAssignProd.propertyName === 'Name'" ng-class="{reverse: productgroupsAssignProd.reverse}"></span></div>
                            </th>

                        </tr>
                    </thead>
                    <tbody dragula="'drag-bag'" dragula-model="productgroupsAssignProd.prodAssignments.Items" id="right-drag-col">
                        <tr ng-repeat="spec in  productgroupsAssignProd.prodAssignments.Items">
                            <td class="text-center tool-td"><i id="handle" class="fa fa-arrows"></i> <i class="fa fa-caret-left" ng-click="productgroupsAssignProd.pushBack(spec)"></i></td>
                            <td data-title="Id" class="part-number-td">{{spec.ID}}</td>
                            <td data-title="Name">{{spec.Name | slashify}}</td>
                        </tr>
                        <tr ng-if="!productgroupsAssignProd.prodAssignments.Items.length">
                            <td class="alert alert-info" colspan="3">No matches found.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</div>